<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LrcPath</key>
	<string>http://music.baidu.com/search/lrc?</string>
	<key>LrcXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div/div[3]/div[1]/ul/li</string>
	<key>MusicPath</key>
	<string>http://music.baidu.com/data/music/file?link=&amp;song_id=%@</string>
	<key>SearchMusicXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div/div[3]/div[1]/ul/li</string>
	<key>SearchSingerFirstPageXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div/div[4]/div[1]/ul/li</string>
	<key>SearchSingerOtherPageXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div/div[3]/div[1]/ul/li</string>
	<key>SearchPath</key>
	<string>http://music.baidu.com/search?</string>
	<key>TopNewXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div[3]/div/div[1]/div[2]/div[1]/div/ul/li</string>
	<key>TopOtherXPath</key>
	<string>/html/body/div[2]/div/div/div[2]/div[2]/div[1]/div/ul/li</string>
	<key>TopArtistXPath1</key>
	<string>/html/body/div[2]/div/div/div[2]/div[3]/ul[1]/li/span[3]/div/a</string>
	<key>TopArtistXPath2</key>
	<string>/html/body/div[2]/div/div/div[2]/div[3]/ul[2]/li/span[3]/a</string>
	<key>topLists</key>
	<dict>
		<key>1</key>
		<dict>
			<key>name</key>
			<string>热歌榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/dayhot</string>
		</dict>
		<key>10</key>
		<dict>
			<key>name</key>
			<string>UK Chart</string>
			<key>path</key>
			<string>http://music.baidu.com/top/ukchart</string>
		</dict>
		<key>11</key>
		<dict>
			<key>name</key>
			<string>情歌对唱榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/lovesong</string>
		</dict>
		<key>12</key>
		<dict>
			<key>name</key>
			<string>KTV热歌榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/ktv</string>
		</dict>
		<key>13</key>
		<dict>
			<key>name</key>
			<string>歌手榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/artist</string>
		</dict>
		<key>2</key>
		<dict>
			<key>name</key>
			<string>新歌榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/new</string>
		</dict>
		<key>3</key>
		<dict>
			<key>name</key>
			<string>华语金曲榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/huayu</string>
		</dict>
		<key>4</key>
		<dict>
			<key>name</key>
			<string>欧美金曲榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/oumei</string>
		</dict>
		<key>5</key>
		<dict>
			<key>name</key>
			<string>网络歌曲榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/netsong</string>
		</dict>
		<key>6</key>
		<dict>
			<key>name</key>
			<string>经典老歌榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/oldsong</string>
		</dict>
		<key>7</key>
		<dict>
			<key>name</key>
			<string>摇滚榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/rock</string>
		</dict>
		<key>8</key>
		<dict>
			<key>name</key>
			<string>影视金曲榜</string>
			<key>path</key>
			<string>http://music.baidu.com/top/yingshijinqu</string>
		</dict>
		<key>9</key>
		<dict>
			<key>name</key>
			<string>Billboard</string>
			<key>path</key>
			<string>http://music.baidu.com/top/billboard</string>
		</dict>
	</dict>
</dict>
</plist>
