<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaiDuChannels</key>
	<array>
		<dict>
			<key>0</key>
			<string>public_tuijian_suibiantingting</string>
			<key>name</key>
			<string>随便听听</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>1</key>
			<string>public_yuzhong_oumei</string>
			<key>name</key>
			<string>欧美</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>2</key>
			<string>public_shiguang_jingdianlaoge</string>
			<key>name</key>
			<string>经典老歌</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>3</key>
			<string>public_fengge_dj</string>
			<key>name</key>
			<string>DJ</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>4</key>
			<string>public_tuijian_rege</string>
			<key>name</key>
			<string>热歌</string>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>5</key>
			<string>public_tuijian_wangluo</string>
			<key>name</key>
			<string>网络</string>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>6</key>
			<string>public_tuijian_chengmingqu</string>
			<key>name</key>
			<string>成名曲</string>
			<key>type</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>7</key>
			<string>public_shiguang_xinge</string>
			<key>name</key>
			<string>新歌</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>8</key>
			<string>public_fengge_liuxing</string>
			<key>name</key>
			<string>流行</string>
			<key>type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>9</key>
			<string>public_xinqing_huankuai</string>
			<key>name</key>
			<string>欢快</string>
			<key>type</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>10</key>
			<string>public_tuijian_ktv</string>
			<key>name</key>
			<string>KTV</string>
			<key>type</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>11</key>
			<string>public_xinqing_shanggan</string>
			<key>name</key>
			<string>伤感</string>
			<key>type</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>12</key>
			<string>public_shiguang_80hou</string>
			<key>name</key>
			<string>80后</string>
			<key>type</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>13</key>
			<string>public_shiguang_90hou</string>
			<key>name</key>
			<string>90后</string>
			<key>type</key>
			<integer>13</integer>
		</dict>
	</array>
	<key>BaiDuFMMusicFormatePath</key>
	<string>https://sp2.baidu.com/8_1ZdTna2gU2pMbgoY3K/data/music/fmlink?songIds=%@</string>
	<key>BaiDuPlayListFormatePath</key>
	<string>https://sp3.baidu.com/-rd1bjeh1BF3odCf/dev/api/?tn=playlist&amp;format=json&amp;id=%@</string>
	<key>DouBanChannels</key>
	<array>
		<dict>
			<key>name</key>
			<string>华语</string>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>欧美</string>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>古典</string>
			<key>type</key>
			<integer>187</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>80后</string>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>90后</string>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>咖啡</string>
			<key>type</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>民谣</string>
			<key>type</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>小清新</string>
			<key>type</key>
			<integer>76</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>爵士</string>
			<key>type</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>工作学习</string>
			<key>type</key>
			<integer>153</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>摇滚</string>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>电影原声</string>
			<key>type</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Billboard</string>
			<key>type</key>
			<integer>1000559</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>电子</string>
			<key>type</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>新歌</string>
			<key>type</key>
			<integer>61</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>轻音乐</string>
			<key>type</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>粤语</string>
			<key>type</key>
			<integer>6</integer>
		</dict>
	</array>
	<key>DouBanFMMusicsFormatePath</key>
	<string>http://douban.fm/j/mine/playlist?type=n&amp;channel=%d&amp;from=mainsite</string>
</dict>
</plist>
